<div class="card">
  <div class="card-header text-light bg-dark">
    <h3>Edit Profile<% resource_name.to_s.titleize %></h3>
  </div>
<div class="card-body bg-light">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
<br/>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-row">
  <div class="col">
  <div class="field form-group">
    <% f.label :password %> 
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New Password (leave blank if you don't want to change the password)" %>
    <% if @minimum_password_length %>
      
      <em class = "text-dark"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
</div>

  <div class = "col">
  <div class="field form-group">
    <% f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm New Password" %>
  </div>
</div>
</div>

  <div class="field form-group">
    <% f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current Password (we need your current password to confirm your changes)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
</br></br>
<div class="card">
  <div class="card-header text-light bg-dark">
    <h4>Cancel Account</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Unhappy?</h5>
     <%= button_to "Delete Account", registration_path(resource_name), form: {data: { turbo_confirm: "Are you sure? Your account will be deleted!" }},class:"btn btn-danger", method: :delete %>
  </div>
</div>
</br>
<%= link_to "Back", :back , class: "btn btn-dark"%>
